
@model IEnumerable<EmployeePortal.Models.Employee>



@{
    ViewBag.Title = "Employee";
    var message = ViewData["Mesage"];
    var errormessage = ViewData["errormessage"];
    var name = "";
    if (TempData.ContainsKey("Mesage"))
    {
        name = TempData["Mesage"] as string;
    }

}
<div>
    <label style="color:green">@name</label>
    <label style="color:red">@errormessage</label>
</div>
<h2 style="align-content:center">Employee Search List Screen</h2>

@using (Html.BeginForm("Employee", "Employees", FormMethod.Get))
{
 
    <div>
        <table>
            <tr>
                <td>
                    <b>Employee Id</b>
                </td>
                <td>
                    @Html.TextBox("Empid", "")
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <b><text>Gender</text></b>
                </td>
                <td>
                    @Html.TextBox("gender", "")
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    @Html.TextBox("Name", "")
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="search" />
                </td>
            </tr>
        </table>




    </div>

    Html.EndForm();
}
<table>
    <tr>
        <td>
            Employee List (<label style="color:red"> @Model.Count() </label>items)
        </td>
    </tr>
    <tr>
        <td><input type="button" value="Add New Employee" onclick="@("window.location.href='" + @Url.Action("Create", "Employees") + "'");" /></td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <input type="button" value="CSV Download" onclick="@("window.location.href='" + @Url.Action("ExportCSV", "Employees") + "'");" />
        </td>
    </tr>

</table>

<table border="1">
    @if (Model.Count() > 0)
    {
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Contact</label>
            </th>
            <th>
                <label>Level/Post</label>
            </th>
            <th>
                <label>Action</label>
            </th>

        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.first_name),
                @Html.DisplayFor(modelItem => item.last_name) <br />
                <text>#</text>@Html.DisplayFor(modelItem => item.emp_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.mobile_num) <br />
                @Html.DisplayFor(modelItem => item.email_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_level)/ <br />
                @Html.DisplayFor(modelItem => item.post_name)
            </td>
            <td>
                @Html.ActionLink("Employments", "Details", new { id = item.emp_id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.emp_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.emp_id })
            </td>
        </tr>

    }

</table>

